<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <testsuites>
    <testsuite name="Components">
      <directory suffix="Test.php">./tests/Components</directory>
    </testsuite>
    <testsuite name="Console">
      <directory suffix="Test.php">./tests/Console</directory>
    </testsuite>
    <testsuite name="Controllers">
      <directory suffix="Test.php">./tests/Controllers</directory>
    </testsuite>
    <testsuite name="Dashboard">
      <directory suffix="Test.php">./tests/Dashboard</directory>
    </testsuite>
    <testsuite name="Datatables">
      <directory suffix="Test.php">./tests/Datatables</directory>
    </testsuite>
    <testsuite name="Menu">
      <directory suffix="Test.php">./tests/Menu</directory>
    </testsuite>
    <testsuite name="Navbar">
      <directory suffix="Test.php">./tests/Navbar</directory>
    </testsuite>
    <testsuite name="Rules">
      <directory suffix="Test.php">./tests/Rules</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>src/config</directory>
      <directory>src/database/migrations</directory>
      <directory>src/resources</directory>
    </exclude>
  </source>
</phpunit>
