<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="APP_KEY" value="base64:Wo2VgRys/LE/wWcQhIh3GrKb+3GbvE0TEq41WMm1UkQ="/>
    </php>
    <testsuites>
        <testsuite name="Boilerplate Test Suite">
            <directory suffix="Test.php">tests</directory>
            <exclude>./tests/DuskTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>