/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = rgb(176, 198, 213)
$textColor = rgb(184, 178, 169)
$altTextColor = rgb(96, 179, 230)
$titleColor = rgb(176, 198, 213)
$borderColor = #383d3f
$codeBgColor = #18191a
$bgColor = #191b1c

$contentWidth = 1200px