$background: #343a40;
$border: #6c757d;

#dark-mode {
  & ~ .custom-control-label::before {
    box-shadow: none !important;
  }
}

body.dark-mode {

  .nav-tabs {
    .nav-item {
      .nav-link {
        color: #888;

        &.active {
          color: #FFF;
        }

        &:hover {
          color: #CCC;
        }
      }
    }
  }

  pre {
    background: #222;
    color: #CCC;
    border-color: #444;
  }

  iframe {
    background: #454d55;
  }

  .card.card-outline-tabs {
    border-top: 0;
  }

  &.accent-light {
    .page-item.active a, .page-item.active .page-link {
      color: #333;

      &:hover, &:focus {
        background-color: #ffffff !important;
        color: #000 !important;
      }
    }
  }

  .bootstrap-datetimepicker-widget {
    &.dropdown-menu {
      border: 1px solid $border;
    }

    table {
      td {
        &.day:hover {
          color: #333;
        }

        &.active, &.active:hover {
          background-color: #ebecec;
          color: #000;
        }

        span {
          &:hover {
            color: #333;
          }

          &.active, &.active:hover {
            background-color: #ebecec;
          }
        }
      }

      thead tr:first-child th:hover {
        color: #333;
      }
    }

    &.dropdown-menu.bottom {
      &::before {
        border-bottom: 7px solid $border;
      }

      &::after {
        border-bottom: 6px solid $border;
      }
    }
  }

  .daterangepicker {
    background: $background;
    color: #FFF;
    border-color: $border;

    &:after, &:before {
      border-bottom: 6px solid $border;
    }

    .drp-buttons {
      border-top: none;
    }

    .calendar-table {
      background: darken($background, 5%);
      border: none;
    }

    td.off, td.off.in-range, td.off.start-date, td.off.end-date {
      background: #222;
    }

    select.hourselect, select.minuteselect, select.secondselect, select.ampmselect, select.monthselect, select.yearselect  {
      border: 1px solid darken($border, 10%);
      background: #292d32;
      color: #FFF;
    }

    td.available:hover, th.available:hover {
      color: #333;
    }

    .ranges li:hover {
      color: #333;
    }
  }

  .input-group-append .btn-outline-secondary {
    border-color: #6c757d;
    background-color: #3a4147;
  }

  .popover {
    background: $background;
    border-color: $border;

    .arrow {
      &:after {
        border-bottom-color: $border;
        border-top-color: $border;
      }
    }

    &-header {
      background: darken($background, 5%);
      border-bottom: 0;

      &:before {
        border-color: darken($background, 5%);
      }
    }

    &-body {
      color: #FFF;
    }
  }

  .input-group.password {
    .input-group-append {
      .btn {
        border-color: #6c757d;

        &:hover {
          color: #CCC !important;
        }
      }
    }

    input {
      &:focus ~ .input-group-append .btn {
        border-color: #fff;
      }

      &.is-invalid ~ .input-group-append .btn {
        border-color: #dc3545 !important;
      }
    }
  }
}