#dashboard-widgets {
  .dashboard-buttons {
    margin-bottom: 20px;
    margin-left: 7.5px;
  }

  .dashboard-widget {
    margin-bottom: 20px;

    .dashboard-widget-tools {
      z-index: 1000;
      height: 100%;
      width: calc(100% - 15px);
      position: absolute;
      top: 0;
      left: 7.5px;
      background: rgba(0,0,0,.75);
      color: #FFF;
      padding: 7.5px;
      font-size: 1.4rem;
      line-height: 1.4rem;
      opacity: 0;
      transition: opacity .2s ease-in-out;

      i {
        color: #BBB;
        cursor: pointer;
        transition: color .2s ease-in-out;

        &:hover {
          color: #FFF;
        }
      }
    }

    &:hover {
      .dashboard-widget-tools {
        opacity: 1;
      }
    }

    & > * {
      margin-bottom: 0 !important;
    }
  }

  .d-line-break {
    position: relative;
    flex-basis: 100%;
    height: 0;
    padding: 0;
    margin: 0;

    &.line-edit {
      height: auto;
      font-size: .75rem !important;
      background: rgba(0,0,0,.15);
      margin: 0 7.5px 18px 7.5px;
      padding: 7.5px;
      transition: background .2s ease-in-out;

      &:hover {
        background: rgba(0,0,0,.25);
      }

      i {
        color: #BBB;
        cursor: pointer;
        transition: color .2s ease-in-out;

        &:hover {
          color: #FFF;
        }
      }
    }
  }
}
