@import "~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css";

.dataTable {
  thead {
    tr {
      th {
        white-space: nowrap;
        padding: .75rem .25rem .75rem .75rem !important;
      }
    }
  }
}

.dataTables_length {
  display: inline-block;
  margin-right: .5rem;
}

.dark-mode {
  #datatables_buttons_info {
    h2 {
      background: #343a40;
    }
    background: #454d55;
  }
}