@import "~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css";

.dt-search {
  border-radius: .25rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ced4da;
  padding: 0;
  padding: 0 0 .25rem .25rem;

  input {
    background: none;
    border: none;
  }

  &-facets {
    flex-wrap: wrap;
  }

  &-facet {
    display: flex;
    align-items: center;
    position: relative;
    background: #f0f0f0;
    color: #333;
    margin: .25rem .25rem 0 0;

    &-label {
      height: 100%;
      display: flex;
      max-width: 100%;
      white-space: nowrap;
      padding: 0 .25rem;
      color: white;
      align-items: center;
      background-color: #007bff;
    }

    &-value {
      white-space: nowrap;
      padding: 0 .5rem;
    }

    &-remove {
      width: 18px;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }

  &-autocomplete {
    z-index: 1000;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    background: #FFF;
    box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
    border: 1px solid #dee2e6;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          display: block;
          padding: 0 1rem;
          text-decoration: none;
          color: #495057;

          &.hover {
            background: #007bff;
            color: #FFF;
          }
        }
      }
    }
  }
}

.dark-mode {
  .dt-search {
    border: 1px solid #6c757d;
    background-color: #343a40;

    input {
      color: #FFF;
    }

    &-facet {
      background: #333;
      color: #FFF;

      &-label {
        background: #DDD;
        color: #343a40;
      }

      &-remove {
        color: #6c757d;
        &:hover {
          color: #FFF;
        }
      }
    }

    &-autocomplete {
      background-color: #343a40;
      border-color: #6c757d;

      ul {
        li {
          a {
            &.hover {
              background: #454d55;
            }
          }
        }
      }
    }
  }
}