@import "~admin-lte/plugins/daterangepicker/daterangepicker.css";

.daterangepicker {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

  select.yearselect, select.monthselect {
    border: 0;
    border-radius: 0;
    padding: .15rem;
  }
}

.datepicker-days {
  th, td {
    border: 0;
  }
}

.clear-daterangepicker {
  cursor: pointer;
  opacity: .5;
  transition: opacity .15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}