@import "~admin-lte/plugins/select2/css/select2.min.css";
@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";

.select2-right {
  .select2-container {
    left: auto !important;
    right: 0 !important;
  }
}

.select2-container--default .select2-results__option {
  white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  padding-left: 5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 15px;
}

.navbar-left, .navbar-right {
  .select2-container--default {
    .select2-selection--single {
      border: 1px solid transparent;
    }
  }
}